<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="kr.co.mirak.cart.CartMapper">


	<!-- 카트 목록 -->
	<select id="cartClientList" resultType="kr.co.mirak.cart.CartVO">
	
		SELECT * FROM cart WHERE MEM_ID = #{mem_id} and CART_SHOW =1 ORDER BY CART_CODE DESC
	
	</select>
	
	
	<!-- CartVO info (int id);  -->
	
	<!-- 카트 추가 -->
	<insert id="cartInsert">
   
      INSERT INTO cart (MEM_ID, PRO_CODE, CART_DAY, CART_START, CART_CNT, PRO_NAME, PRO_PRICE, PRO_DESC, PRO_IMAGE)
      VALUES (#{mem_id}, #{pro_code}, #{cart_day}, #{cart_start}, #{cart_cnt}, #{pro_name}, #{pro_price}, #{pro_desc}, #{pro_image} )
      
   </insert>
	
	
	<!-- 카트 옵션 수정 -->
	<update id="cartUpdate">
	<![CDATA[
		UPDATE cart SET CART_DAY = #{cart_day}, CART_START = #{cart_start}, CART_CNT = #{cart_cnt} WHERE cart_code = #{cart_code}
	]]>
	</update>
	<update id="cartUpdateCheckAll">
		<![CDATA[
			UPDATE cart SET CART_CHECK = 0 WHERE MEM_ID = #{mem_id}
		]]>
	</update>
	<update id="cartUpdateCheck">
		<![CDATA[
			UPDATE cart SET CART_CHECK = 1 WHERE CART_CODE = #{cart_code}
		]]>
	</update>

	<!-- 카트 삭제 -->
	<update id="cartDelete">
	<![CDATA[
		UPDATE CART SET CART_SHOW = 2 WHERE CART_CODE = #{cart_code}
	]]>
	</update>
	
	
	
	<!-- 어드민 회원 정보 상세보기 -->
	<select id="adminMemberDetail2">
		<![CDATA[
			SELECT mem_code FROM MEMBER 
			LEFT OUTER JOIN CART ON MEMBER.mem_code = CART.mem_code
			WHERE CART.mem_code IS NULL
		]]>
	</select>



	<!-- 어드민 카트 전체 목록 -->
	<select id="cartAdminList" resultType="kr.co.mirak.cart.CartVO">
	

		SELECT * FROM cart
		ORDER BY CART_CODE DESC

	</select>
	
	<!-- 어드민 카http://localhost:8080/admin/cart/1/230트 삭제 -->
	<update id="cartAdminDelete">
	<![CDATA[
			UPDATE CART SET CART_SHOW = 2 WHERE CART_CODE = #{cart_code}
		]]>
	</update>
	
	<!-- 어드민 카트 수정 -->
	<update id="cartAdminUpdate">
	<![CDATA[
		UPDATE cart SET CART_DAY = #{cart_day}, CART_START = #{cart_start}, CART_CNT = #{cart_cnt}, CART_SHOW = #{cart_show} WHERE cart_code = #{cart_code}
	]]>
	</update>
		
	
	<!-- product cartVO형태로 담기 -->
   <select id="productToCart" resultType="kr.co.mirak.cart.CartVO">
      <![CDATA[
      SELECT *
      FROM product
      WHERE pro_code = #{pro_code}
      ]]>
   </select>
   
   <select id="getListPaging" resultType="kr.co.mirak.cart.CartVO">
		
		<![CDATA[
  		 
		select * from (select * from cart order by cart_code desc limit #{skip},#{amount}) as T1;
 		]]>

	</select>
	
	<!-- 	페이징 처리 (카트 총 개수 출력) -->
	<select id="getTotal" resultType="int">
		<![CDATA[
		select count(*) from cart
		]]>
	</select>
	
	
	<select id="cartDetail" resultType="kr.co.mirak.cart.CartVO">
		<![CDATA[
		SELECT *
		FROM cart
		WHERE cart_code = #{cart_code};
		]]>
	</select>
	
	
  </mapper>