<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="kr.co.mirak.cart.CartMapper">


	<!-- 카트 목록 -->
	<select id="cartClientList" resultType="kr.co.mirak.cart.CartVO">
	
		SELECT * FROM CART WHERE MEM_Id = #{mem_id} and CART_SHOW =1
	
	</select>
	
	<!-- 어드민용 카트 전체 목록 -->
	<select id="cartAdminList" resultType="kr.co.mirak.cart.CartVO">
	
		SELECT MEM_ID, PRO_NAME, PRO_PRICE, CART_START, CART_DAY, CART_CNT, CART_TOTPRICE, CART_SHOW FROM CART
	
	</select>
	
	<!-- CartVO info (int id);  -->
	
	<!-- 카트 추가 -->
	<insert id="insert">
   
      INSERT INTO CART (MEM_ID, PRO_CODE, CART_CNT, CART_TOTPRICE, PRO_NAME, PRO_PRICE, PRO_DESC, PRO_IMAGE)
      VALUES (#{mem_id}, #{pro_code}, #{cart_cnt}, #{cart_totprice}, #{pro_name}, #{pro_price}, #{pro_desc}, #{pro_image} )
      
   </insert>
	
	
	<!-- 카트 수량 수정 -->
	<update id="update">
	
		UPDATE CART SET CART_CNT = #{cart_cnt} WHERE CART_CODE = #{cart_code}
	
	</update>

	<!-- 카트 삭제 -->
	<delete id="delete">
	
		DELETE FROM CART WHERE CART_CODE = #{cart_code}
	
	</delete>
	
	<!-- product cartVO형태로 담기 -->
   <select id="productToCart" resultType="kr.co.mirak.cart.CartVO">
      <![CDATA[
      SELECT *
      FROM PRODUCT
      WHERE pro_code = #{pro_code}
      ]]>
   </select>
	
	
  </mapper>