<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mirak.pay.chart.ChartMapper">
	<select id="getTotalByMenuList"
		resultType="kr.co.mirak.pay.chart.TotalByMenuVO">
		select pro_name, sum(totalPrice) as
		totalPrice from pay group by
		pro_name;
	</select>

	<select id="getTotalByDayList"
		resultType="kr.co.mirak.pay.chart.TotalByDayVO">
		select pay_date, sum(totalPrice) as totalPrice
		from pay as t1
		group by t1.pay_date
		order by t1.pay_date;
	</select>
</mapper>