<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="kr.co.mirak.member.MemberMapper">
 
 	<!-- <resultMap type="memberList" id="memberResult">
		<id property="mem_num" column="MEM_NUM"></id>
		<result property="mem_id" column="MEM_ID"/>
		<result property="mem_pw" column="MEM_PW"/>
		<result property="mem_name" column="MEM_NAME"/>
		<result property="mem_age" column="MEM_AGE"/>
		<result property="mem_gender" column="MEM_GENDER"/>
		<result property="mem_phone" column="MEM_PHONE"/>
		<result property="mem_token" column="MEM_TOKEN"/>
		<result property="mem_regdate" column="MEM_REGDATE"/>
	</resultMap> -->
 	<select id="getMemberList" resultType="kr.co.mirak.member.MemberVO">
		<![CDATA[
			SELECT * FROM MEMBER
		]]>	
	</select>
	
 	<!-- 
 	<select id="info" resultType="org.sp.mybatis.Emp">
 		select * from emp2 where empno=#{empno}
 	</select>
 	
 	<insert id="insert" parameterType="org.sp.mybatis.Emp">
 		insert into emp2 (empno, ename, deptno, job, sal)
 		values (#{empno}, #{ename}, #{deptno}, #{job}, #{sal})
 	</insert>
 	
 	<update id="update" parameterType="org.sp.mybatis.Emp">
 		update emp2 set deptno=#{deptno}, sal=#{sal}
 		where empno=#{empno}
 	</update>
 	
 	<delete id="delete">
 		delete from emp2 where empno=#{empno}
 	</delete>
 	 -->
 </mapper>