<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.mirak.member.MemberMapper">
	<select id="login" parameterType="member" resultType="member">
  		<![CDATA[
 			 SELECT MEM_ID, MEM_PW , MEM_NAME, MEM_AGE, MEM_GENDER ,MEM_PHONE, MEM_ADD1, MEM_ADD2, MEM_ZIPCODE FROM MEMBER 
 			 	WHERE MEM_ID=#{mem_id}  
 		]]>
	</select>
	<select id="idfind" parameterType="member" resultType="member">
  		<![CDATA[
 			 SELECT MEM_ID FROM MEMBER WHERE MEM_NAME=#{mem_name} AND MEM_PHONE=#{mem_phone} 
 		]]>
	</select>
	<select id="idfind_pw" parameterType="member" resultType="member">
  		<![CDATA[
 			 SELECT MEM_ID FROM MEMBER WHERE MEM_NAME=#{mem_name} AND MEM_PHONE=#{mem_phone} AND MEM_ID=#{mem_id} 
 		]]>
	</select>
	<update id="pwreset" parameterType="member">
		<![CDATA[
			UPDATE MEMBER SET
				MEM_PW = #{mem_pw}
			WHERE MEM_ID = #{mem_id}
		]]>
	</update>
	<insert id="createUser" parameterType="member">
 		<![CDATA[

	 		INSERT INTO MEMBER (MEM_ID, MEM_PW , MEM_NAME, MEM_AGE, MEM_GENDER ,MEM_PHONE, MEM_ZIPCODE, MEM_ADD1, MEM_ADD2,  MEM_ISAPI)
	 		VALUES(#{mem_id}, #{mem_pw}, #{mem_name} , #{mem_age} , #{mem_gender} , #{mem_phone} , #{mem_zipcode}, #{mem_add1} , #{mem_add2} , #{mem_isapi})
 		]]>
	</insert>

	<insert id="naverinsert" parameterType="member">
 		<![CDATA[
	 		INSERT INTO MEMBER (MEM_ID, MEM_PW , MEM_NAME, MEM_GENDER)
	 		VALUES(#{mem_id}, #{mem_pw}, #{mem_name} , #{mem_gender})
 		]]>
	</insert>

	<update id="memupdate" parameterType="member">
		<![CDATA[
			UPDATE MEMBER SET
				MEM_PW = #{mem_pw},
				MEM_NAME = #{mem_name},
				MEM_AGE = #{mem_age},
				MEM_GENDER = #{mem_gender},
				MEM_PHONE = #{mem_phone},
				MEM_ADD1 =#{mem_add1},
				MEM_ADD2 =#{mem_add2},
				MEM_ZIPCODE =#{mem_zipcode}
			WHERE MEM_ID = #{mem_id}
		]]>
	</update>

	<select id="getMemberList" resultType="member"
		parameterType="Int">
		<![CDATA[
			SELECT MEM_ID, MEM_NAME, MEM_AGE, MEM_GENDER, MEM_PHONE, MEM_REGDATE FROM MEMBER
			ORDER BY MEM_REGDATE
			LIMIT 10 OFFSET #{page}
		]]>
	</select>

	<select id="getMemberInfo" parameterType="String"
		resultType="member">
		<![CDATA[
			SELECT MEM_ID, MEM_PW,
				MEM_NAME, MEM_AGE, 
				MEM_GENDER, MEM_PHONE, 
				MEM_REGDATE, 
				MEM_ADD1,
				MEM_ADD2,
				MEM_ZIPCODE,
				MEM_ISAPI FROM MEMBER
			WHERE MEM_ID=#{myid}
		]]>
	</select>

	<!-- 아이디 확인 -->
	<select id="idCheck" parameterType="member" resultType="int">
		SELECT count(*) FROM MEMBER WHERE mem_id= #{mem_id}
	</select>

	<!-- 회원탈퇴 -->
	<delete id="memdelete" parameterType="member">
		<![CDATA[
			DELETE FROM MEMBER WHERE MEM_ID = #{mem_id}
		]]>
	</delete>

	<!-- 김원중이 건드린 부분 -->
	<select id="getTotal" resultType="int">
		<![CDATA[
			select count(*) from member
		]]>
	</select>

	<select id="getListPaging" resultType="member">
		<![CDATA[  		 
			select * from (select * from member where mem_id not in ('admin')) as T1 ORDER BY MEM_REGDATE limit #{skip},#{amount}
 		]]>
	</select>

	<select id="adminMemberDetail" resultType="member">
		<![CDATA[
			SELECT MEM_CODE, MEM_ID, 
				MEM_NAME, MEM_AGE, 
				MEM_GENDER, MEM_PHONE, 
				MEM_REGDATE, 
				MEM_ADD1,
				MEM_ADD2,
				MEM_ZIPCODE,
				MEM_ISAPI FROM MEMBER
			WHERE MEM_CODE=#{mem_code}	
		]]>
	</select>
	<update id="adminMemberUpdate" parameterType="member">
		<![CDATA[
			UPDATE MEMBER SET
				MEM_AGE = #{mem_age},
				MEM_GENDER = #{mem_gender},
				MEM_PHONE = #{mem_phone},
				MEM_ADD1 =#{mem_add1},
				MEM_ADD2 =#{mem_add2},
				MEM_ZIPCODE =#{mem_zipcode}
			WHERE MEM_CODE = #{mem_code}
		]]>
	</update>
	<delete id="adminMemberDel" parameterType="member">
		<![CDATA[
			DELETE FROM MEMBER
			WHERE MEM_CODE = #{mem_code}
		]]>
	</delete>
	
	
	
</mapper>