<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="kr.co.mirak.member.MemberMapper">
 
 	<!-- <resultMap type="memberList" id="memberResult">
		<result property="mem_id" column="MEM_ID"/>
		<result property="mem_pw" column="MEM_PW"/>
		<result property="mem_name" column="MEM_NAME"/>
		<result property="mem_age" column="MEM_AGE"/>
		<result property="mem_gender" column="MEM_GENDER"/>
		<result property="mem_phone" column="MEM_PHONE"/>
		<result property="mem_token" column="MEM_TOKEN"/>
		<result property="mem_regdate" column="MEM_REGDATE"/>
	</resultMap> -->
 	<select id="getMemberList" resultType="kr.co.mirak.member.MemberVO">
		<![CDATA[
			SELECT MEM_ID, MEM_NAME, MEM_AGE, MEM_GENDER,MEM_PHONE  FROM MEMBER
		]]>	
	</select>
	
 	<select id="list" resultType="kr.co.mirak.member.MemberVO">
 		select * from test
 	</select>
 	
 	<insert id="insert">
 	
 	insert into member (mem_id , mem_pw , mem_name , mem_age , mem_gender ,mem_phone)
 		values(#{mem_id}, #{mem_pw}, #{mem_name} , #{mem_age} , #{mem_gender} , #{mem_phone})
 	</insert>
 </mapper>