<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mirak.product.ProductMapper">

	<insert id="insertProduct" parameterType="product">
		<![CDATA[
		INSERT INTO PRODUCT(pro_code, pro_name, pro_price,pro_desc,pro_image)
		VALUES(#{pro_code}, #{pro_name}, #{pro_price},#{pro_desc},#{pro_image})
		
		
		]]>
	</insert>
	
	

	<select id="productList" resultType="product">
		
		<![CDATA[
 		SELECT pro_name, pro_price from product;
		
 		]]>

	</select>

	<select id="productList1" resultType="product">

		select * from (select * from product)  as T1  where pro_code like '%P%' limit #{skip},#{amount}

	</select>
	
	
	<!-- 인덱스 페이지 이미지 -->
	<select id="productListIndex1" resultType="product">

		select * from (select * from product order by rand())  as T1  where pro_code like '%P%' limit 4;

	</select>
	
	<select id="productListIndex2" resultType="product">

		select * from (select * from product order by rand())  as T1  where pro_code like '%T%' limit 4;

	</select>
	
	<!-- 여기까지 -->


	<select id="productList2" resultType="product">
		select * from (select * from product)  as T1  where pro_code like '%T%' limit #{skip},#{amount}
		

	</select>

	<select id="productList3" resultType="product">

		select * from (select * from product)  as T1  where pro_code like '%O%' limit #{skip},#{amount}

	</select>


	<select id="productDetail" resultType="product">
		<![CDATA[
		SELECT *
		FROM PRODUCT
		WHERE pro_code = #{pro_code};
		]]>
	</select>


	<update id="updateProduct">
		<![CDATA[
			UPDATE PRODUCT SET
				pro_name = #{pro_name},
				pro_price = #{pro_price},
				pro_desc = #{pro_desc},
				pro_image = #{pro_image}
			WHERE pro_code = #{pro_code}
		]]>
	</update>


	<delete id="deleteProduct">
	<![CDATA[
			DELETE FROM PRODUCT WHERE pro_code=#{pro_code}
		]]>
	</delete>
	
	<!-- 	페이징 처리 (상품 총 개수 출력) -->
	<select id="getTotal" resultType="int">
		<![CDATA[
		select count(*) from product
		]]>
	</select>
	
	<!-- 	페이징 처리 (프리미엄 상품 개수 출력) -->
	<select id="getTotalP" resultType="int">
		<![CDATA[
		select count(*) from product where pro_code like "%P%";
		]]>
	</select>
	
	<!-- 	페이징 처리 (2,3인 상품 개수 출력) -->
	<select id="getTotalT" resultType="int">
		<![CDATA[
		select count(*) from product where pro_code like "%T%";
		]]>
	</select>
	
	<!-- 	페이징 처리 (1인 상품 개수 출력) -->
	<select id="getTotalO" resultType="int">
		<![CDATA[
		select count(*) from product where pro_code like "%O%";
		]]>
	</select>
	
	

	<select id="getListPaging" resultType="product">
		
		<![CDATA[
  		 
		select * from (select * from product) as T1 limit #{skip},#{amount}
 		]]>

	</select>




</mapper>