<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mirak.product.ProductMapper">

	<insert id="insertProduct" parameterType="product">
		
		INSERT INTO product(pro_code, pro_name, pro_price,pro_desc,pro_desc2,pro_image)
		VALUES(#{pro_code}, #{pro_name}, #{pro_price},#{pro_desc},#{pro_desc2},#{pro_image})
				
	</insert>
	
	<select id="productList" resultType="product">
			
 		SELECT pro_code, pro_name, pro_price from product WHERE pro_code LIKE CONCAT('%', #{cate}, '%')
				
	</select>

	<select id="productList1" resultType="product">

		select * from (select * from product)  as T1  where pro_code like '%P%' limit #{skip},#{amount}

	</select>
		
	<!-- 인덱스 페이지 이미지 -->
	<select id="productListIndex1" resultType="product">

		SELECT * FROM product WHERE pro_name IN (SELECT pro_name FROM
    	(SELECT pro_name, SUM(totalPrice) AS total FROM pay WHERE status = '결제 완료'
    	GROUP BY pro_name
    	ORDER BY total DESC
    	LIMIT 3) AS subquery)
		ORDER BY (SELECT SUM(totalPrice) FROM pay  WHERE pro_name = product.pro_name AND status = '결제 완료') DESC;
			
	</select>
	
	<select id="productListIndex2" resultType="product">

        SELECT * FROM (SELECT pro_name, SUM(cart_cnt) as cart_cnt,
        SUM(CASE WHEN cart_show=0 THEN cart_cnt ELSE 0 END) as cart_show,
        ROUND(SUM(CASE WHEN cart_show=0 THEN cart_cnt ELSE 0 END) * 100 / SUM(cart_cnt), 2) as ratio 
		FROM cart
		GROUP BY pro_name
		HAVING SUM(CASE WHEN cart_show=0 THEN cart_cnt ELSE 0 END) >= 50 and ratio BETWEEN 1 AND 90 
		ORDER BY ratio DESC
		LIMIT 3) AS subquery
		JOIN product ON product.pro_name = subquery.pro_name
		ORDER BY subquery.ratio DESC;

	</select>
	
	<!-- 여기까지 -->

	<select id="productList2" resultType="product">
	
		select * from (select * from product)  as T1  where pro_code like '%T%' limit #{skip},#{amount}
		
	</select>

	<select id="productList3" resultType="product">

		select * from (select * from product)  as T1  where pro_code like '%O%' limit #{skip},#{amount}

	</select>


	<select id="productDetail" resultType="product">
		
		SELECT *
		FROM product
		WHERE pro_code = #{pro_code};
		
	</select>

	<update id="updateProduct">
		
			UPDATE product SET
				pro_name = #{pro_name},
				pro_price = #{pro_price},
				pro_desc = #{pro_desc},
				pro_desc2 = #{pro_desc2},
				pro_image = #{pro_image}
			WHERE pro_code = #{pro_code}
		
	</update>


	<delete id="deleteProduct">
	
			DELETE FROM product WHERE pro_code=#{pro_code}
		
	</delete>
	
	<!-- 	페이징 처리 (상품 총 개수 출력) -->
	<select id="getTotal" resultType="int">
		
		select count(*) from product
		
	</select>
	
	<!-- 	페이징 처리 (프리미엄 상품 개수 출력) -->
	<select id="getTotalP" resultType="int">
		
		select count(*) from product where pro_code like "%P%";
		
	</select>
	
	<!-- 	페이징 처리 (2,3인 상품 개수 출력) -->
	<select id="getTotalT" resultType="int">
		
		select count(*) from product where pro_code like "%T%";
		
	</select>
	
	<!-- 	페이징 처리 (1인 상품 개수 출력) -->
	<select id="getTotalO" resultType="int">
		
		select count(*) from product where pro_code like "%O%";
	
	</select>
	
	<select id="getListPaging" resultType="product">
		  		 
		select * from (select * from product) as T1 limit #{skip},#{amount}
 		
	</select>

</mapper>