body, .form-control, .btn{ font-size:16px; }
.table .btn{ font-size:14px; border-radius: 0; padding: 5px 10px !important; white-space: nowrap; }
.table .main-color{ cursor: pointer; }
.table tbody tr td{ font-size:16px; padding: 10px 5px;}

.navbar .navbar-nav > .nav-item > .nav-link{
	font-size: 22px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}